:root {
  --primary-background: #003e52;
  --primary-font: #fff;
  --secondary-font: #a7a8a9;
  --accent-color: #bc955c;
  --fz-md: 16px;
  --fz-sm: 14px;
  --font-sans: 'Inter', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  color: var(--primary-font);
  font-family: var(--font-sans);
  font-size: var(--fz-md);
  line-height: 1.3;
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

h1, p {
  margin: 0;
}

h3#shortURL {
  color: var(--accent-color);
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 150px;
  gap: 8px;
}

input {
  background-color: transparent;
  font-size: var(--fz-sm);
  padding: 12px 15px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  line-height: 1.6;
  color: var(--primary-font);
  font-family: var(--font-mono);
  margin-bottom: 10px;
  border-radius: 0;
  width: 100%;
}

input::placeholder {
  color: var(--secondary-font);
}

input:focus {
  outline: none;
}

button {
  font-size: var(--fz-md);
  padding: 8px 12px;
  width: 250px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  color: var(--primary-font);
  background-color: var(--accent-color);
}
